$series-height: 180px;

figure.series--right {
  position: relative;
  background: rgba(40, 60, 120, 0.4);
  background: linear-gradient(90deg, rgba(40,60,120,0.4), rgba(40,60,120,0.7));
  border-radius: 2px;
  margin: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  height: $series-height;
  padding-right: 126px;

  body.night & {
    background: rgba(20, 30, 60, 0.4);
    background: linear-gradient(90deg, rgba(20,30,60,0.4), rgba(20,30,60,0.7));
  }

  figcaption {
    padding: 1px 5px 1px 13px;
    text-align: left;

    color: white;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 0 1px 1px black;
    
    h3 {
      margin-top: 8px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .info-line {
      position: absolute;
      left: 13px;
      bottom: 13px;
      margin: 0;

      display: grid;
      grid-template-columns: 54px 54px 54px;
      grid-gap: 13px;

      > * {
        display: inline-block;
        width: 54px;
        height: 54px;
      }
    }

    time {
      position: absolute;
      bottom: 13px;
      left: 13px;
    }
  }

  > img.series-picture {
    position: absolute;
    top: 0;
    right: 0;
    height: $series-height;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &.series--small-title {
    figcaption h3 {
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }
  }

  &.series--large {
    padding-right: 252px;

    &, img.series-picture {
      height: $series-height * 2;
    }

    figcaption {
      padding: 20px;

      h3 {
        font-size: 26px;
      }
    }
  }
}


.series-grid {
  figure {
    figcaption {

      .movie-time {
        display: none;
        height: 54px;

        .movie-weekday {
          font-size: 14px;
          text-transform: uppercase;
          margin: 0.1em 0 0 0;
          color: #9af3aa;
        }
        .movie-start-time {
          font-size: 22px;
          color: white;
          margin: 0;
        }
      }

      img.rating-img {
        position: absolute;
        bottom: 13px;
        right: 136px;
        width: 54px;
        height: 54px;
      }

      p.movie-ident {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0.5em 0 0 0;
        color: #9af3aa;

        + h3 {
          margin-top: 1px;
        }
      }

      p.series-ident {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0.5em 0 0 0;

        + h3 {
          margin-top: 1px;
        }
      }

      p.starting {
        position: absolute;
        left: 13px;
        bottom: 59px;

        font-size: 14px;
        text-transform: uppercase;
      }
    }

    &.movie {
      background: rgba(20, 40, 100, 0.6);
      background: linear-gradient(90deg, rgba(20,40,100,0.6), rgba(20,40,100,1));
      box-shadow: none;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        bottom: -8px;
        left: -8px;
        right: -8px;
        border: 4px solid rgba(20, 40, 100, 0.7);
        border-radius: 8px;
      }
    
      body.night & {
        background: rgba(5, 10, 40, 0.6);
        background: linear-gradient(90deg, rgba(5,10,40,0.6), rgba(5,10,40,1));
      }

      figcaption {
        h3 {
          height: 80px;
          -webkit-line-clamp: 3;
        }
      }

      .movie-info {
        position: absolute;
        left: 80px;
        bottom: 24px;

        p {
          margin: 0.1em 0;
          font-size: 22px;
        }
      }
    }

    .rating-hover {
      left: 20%;
      right: auto;

      .rating__tag {
        left: 78px;
      }
    }
  }
}
