@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url(fonts/OpenSans-Bold.ttf);
}

* {
  font-family: 'Open Sans', Arial, sans-serif;
}