@import 'colour';
@import 'responsive';
@import 'fonts';
@import 'tabs';
@import 'time';
@import 'layout';
@import 'anime';

html {
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 2s ease-in-out;

  &.day {
    background-color: #468fe2;
  }
  &.night {
    background-color: #080c80;
  }
}

/* Site furniture */
.btn {
  display: block;
  margin-bottom: 10px;
  // height: 60px;
  cursor: pointer;
  background: none;
  border: 0 none;

  i {
    display: inline-block;
    // position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 1px 2px black;
    -webkit-appearance: none;
    appearance: none;
    border: 0 none;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    + span {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  span {
    display: inline-block;
    color: white;
    font-weight: bold;
    border-left-width: 0;
    border-radius: 20px;
    padding: 7px 50px;
    vertical-align: middle;
    margin-left: -6px;
    box-shadow: 1px 1px 1.4px rgba(0,0,0,0.7);
  }
}

@mixin btn($color, $icon) {
  i {
    background-color: $color;
    background-image: url($icon);
  }
}

@mixin btn-with-label($color, $icon) {
  @include btn($color, $icon);

  span {
    background: $color;
  }
}

@mixin btn-label-only($color) {
  span {
    background: $color;
  }
}

.box.box--button {
  padding-right: 256px;

  .btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

#logo {
  position: fixed;
  top: 5px;
  left: 5px;
  max-height: 98vh;
}

#section-social {
  position: fixed;
  top: 20px;
  right: 20px;

  .btn {
    i {
      @media (max-width: 1280px) {
        width: 40px;
        height: 40px;
      }
    }
    span {
      display: none;
    }
  }
}

#section-discord {
  padding: 8px 20px;

  h2, h3, p {
    margin: 8px 0;
  }

  h2 {
    color: $series-ident;
  }

  .btn.btn-discord {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

$mail_color: #ed3b41;
$twitter_color: #1da1f2;
$fb_color: #4267b2;
$discord_color: #5165F6;
$recommendations_color: #047848;

.btn-mail {
  @include btn($mail_color, 'images/mail.svg');
}
.btn-twitter {
  @include btn($twitter_color, 'images/tw_icon.png');
}
.btn-fb {
  @include btn($fb_color, 'images/fb_icon.png');
}
.btn-discord {
  @include btn($discord_color, 'images/discord.gif');
  span {
    background: $discord_color;
  }
}
.btn-recommendations {
  @include btn-label-only($recommendations_color);
  span {
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 2px black;
  }
}

#main-title {
  display: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-right: 90px;
  max-width: 1024px;
}

h1, h2, h3, h4 {
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0.8em;

  &.underline {
    font-size: 28px;
    box-shadow: inset 0 -22px 0 rgba(20, 30, 60, 0.5);
    text-shadow: 0 1px 2px black, 0 0 3px black, 0 0 2px black;
    display: inline-block;
    padding: 2px 10px;
  }
}

h3 {
  font-size: 19px;
  // font-weight: 600;
  em {
    font-size: 24px;
    font-style: normal;
    margin-right: 4px;
  }

  &.big {
    padding-left: 10px;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

a#home-link {
  display: block;
  margin: 1em 0;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
  padding: 1px 6px;
  box-shadow: inset 0 -12px 0 rgba(20, 30, 60, 0.4);

  img {
    height: 15px;
    vertical-align: middle;
  }
}

.box {
  padding: 5px 27px;
  background: rgba(40, 60, 120, 0.7);
  border-radius: 2px;
  margin-top: 2em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  position: relative;

  body.night & {
    background: rgba(20, 30, 60, 0.5);
  }

  p {
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    font-weight: 600;
  }

  h2:first-child {
    margin-top: 0.6em;
  }
}

#section-announce {
  background: white;
  background: linear-gradient(120deg, rgba(255,255,255,0.8), rgba(245,245,245,0.5));


  h2 {
    color: black;
    margin-top: 0.6em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  }

  .content p {
    font-weight: 600;
    font-size: 16px;

    &.p--icon {
      $indent: 50px;
      padding-left: $indent;
      margin: 26px 0;

      .icon {
        display: block;
        float: left;
        margin-top: -8px;
        margin-left: -$indent;
      }

      img.icon {
        height: 40px;
        width: 40px;
      }
    }

    .entry-fee {
      width: 36px;
      height: 36px;
      border-radius: 20px;
      border: 2px solid #b09010;
      box-shadow: 0 1px 2px rgba(0,0,0,0.5);

      background: #fff8e0;
      text-align: center;
      line-height: 36px;
      font-weight: bold;
    }
  }

  #announce-date {
    position: relative;
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 82px;

    time {
      position: absolute;
      left: 0;
      top: 0;
      height: 82px;
      width: 82px;
      background: #f8dda2;

      .day {
        font-size: 46px;
        line-height: 46px;
      }
      .month {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .announce-date-side {
      padding-top: 4px;
      color: black;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
    }
  }
}

#section-next-meeting, #section-next-social {
  position: relative;

  h2 {
    margin-top: 0.6em;
    margin-bottom: 3px;
    color: #f8dda2;
  }

  h3 {
    margin-top: 1em;
  }

  .next-social-title {
    color: #a2f8ad;
  }
}

.focus-date {
  position: relative;
  padding-left: 100px;
  margin-top: 20px;
  min-height: 76px;

  time {
    position: absolute;
    left: 0;
    top: 0;
    height: 82px;
    width: 82px;
    // background: linear-gradient(#faeed8, #f8dda2);

    .day {
      font-size: 46px;
      line-height: 46px;
    }
    .month {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .focus-date-side {
    padding-top: 4px;
    color: white;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    text-shadow: 0 1px 2px black;
  }
}

#about {
  position: relative;
  padding: 6px 70px 6px 0;

  .content {
    margin: -10px 0;
  }

  .content p {
    font-weight: 600;
    font-size: 16px;
    color: white;

    &.p--icon {
      $indent: 50px;
      padding-left: $indent;
      margin: 26px 0;

      .icon {
        display: block;
        float: left;
        margin-top: -8px;
        margin-left: -$indent;
      }

      img.icon {
        height: 40px;
        width: 40px;
      }
    }

    a, a:visited {
      color: white;
    }

    .entry-fee {
      width: 36px;
      height: 36px;
      border-radius: 20px;
      border: 2px solid #b08010;
      box-shadow: 0 1px 2px rgba(0,0,0,0.5);

      background: #fff8e0;
      text-align: center;
      line-height: 36px;
      font-weight: bold;
      color: black;
    }
  }
}

.btn-where-when {
  position: absolute;
  top: 0;
  right: 0;

  @include btn(white, 'images/pin.svg');
  span {
    background: none;
    box-shadow: none;
    padding: 7px 0;
    display: block;
    text-align: center;
  }
}

#section-leaflets {
  padding-top: 60px;

  img {
    height: 430px;
    margin-right: -200px;
    box-shadow: 0 2px 3px black;
  }

  #leaflet1 {
    transform: rotate(-0.03turn);
  }

  #leaflet2 {
    transform: rotate(-0.01turn);
  }

  #leaflet3 {
    transform: rotate(0.01turn);
  }
}

#section-now-showing {
  margin: 2em 0;
  position: relative;

  &.section-now-showing-hiatus {
    #now-showing {
      opacity: 0.2;
    }
  }

  .hiatus-overlay {
    position: absolute;
    top: 40%;
    left: 100px;
    right: 100px;
    min-height: 30px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 150px black, 0 0 80px black;

    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}

p.series-ident {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  &, article.event & {
    color: $series-ident;
  }

  + h3 {
    margin-top: 3px;
  }
}

#now-showing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  figure {
    box-shadow: 0 2px 3px black;
    position: relative;
    margin: 0 auto;
    min-height: 450px;

    img.series-picture {
      z-index: 1;
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }

    &#slot1 {
      margin: 0 auto 0 0;
    }

    &#slot2 {
      margin: 0 auto 0 auto;
    }

    &#slot3 {
      margin: 0 0 0 auto;
    }

    &.hide {
      display: none;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px 60px 8px 10px;
      background: rgba(0,0,0,0.5);
      min-height: 55px;

      color: white;
      text-shadow: 0 0.5px 2px black;
      font-size: 18px;
      font-weight: bold;

      z-index: 3;

      p.movie-ident {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0;
        color: #9af3aa;

        + h3 {
          margin-top: 3px;
        }
      }
    }

    img.rating-img {
      position: absolute;
      bottom: 8px;
      right: 8px;
      z-index: 4;
      width: 54px;
      height: 54px;
    }

    a.play {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 450px;
      cursor: pointer;

      transition: opacity 0.6s ease-out;
      opacity: 0;
      z-index: 2;

      background: rgba(0,0,0,0.5);
      color: white;
      font-weight: bold;
      text-shadow: 0 1px 1px black;
    }

    &:hover {
      a.play {
        transition: opacity 0.2s ease-out;
        opacity: 1;
      }
    }

    .rating-hover {
      right: 5px;

      .rating__tag {
        right: 21px;
      }
    }
  }
}

.history-week {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;

  figure {

  }
}

/*
figure#recommendation {
  margin: 0;
  height: 360px;
  padding: 0;

  figcaption {
    padding: 20px 270px 0 20px;

    h3 {
      font-size: 22px;
    }
  }

  > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 252px;
    height: 360px;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
*/

.rating-hover {
  display: none;
  &.rating-hover--show {
    display: block;
  }

  position: absolute;
  bottom: -52px;
  right: 0;
  background: black;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid #333;
  box-shadow: 0 2px 6px black;
  z-index: 1000;

  span {
    display: block;
    border: 2px solid white;
    border-radius: 2px;
    padding: 3px 7px;
    color: white;
    font-weight: normal;
    white-space: nowrap;
  }
  &.rating-hover-15 span {
    border-color: #FFA4F2;
  }
  &.rating-hover-12 span {
    border-color: #FFC673;
  }
  &.rating-hover-pg span {
    border-color: #FFFE89;
  }
  &.rating-hover-u span {
    border-color: #A6FFA5;
  }

  .rating__tag {
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
  }
}


.vpick {
  list-style: none;

  li {
    padding: 0;
    display: block;
    clear: both;
    margin: 0.5em 0;
    cursor: pointer;

    a {
      padding: 5px 15px 5px 5px;
      color: white;
      font-weight: bold;
      text-shadow: 0 1px 2px black;

      &.pick-show {
        padding-right: 12px;
        border-right: 3px solid white;
        border-radius: 3px;
        background: rgba(0,0,0,0.3);
      }
    }
  }
}

.pick-pane {
  display: none;

  &.pick-pane-show {
    display: block;
  }
}


a.trailer {
  // background-color: linear-gradient(#e04040, #d02020);
  background-image: url(images/play-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 54px;
  height: 54px;
  box-shadow: 0 1px 2px black;
  border-radius: 2px;
}

article {
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px;
  min-height: 55px;

  time {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.box {
    padding-left: 85px;
    padding-top: 15px;
    time {
      top: 16px;
      left: 16px;
    }
  }

  h3, &.event p {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    margin: 0 0 1px 0;
  }

  h3 {
    font-size: 19px;
  }

  p {
    margin: 0.5em 0;
    font-size: 16px;
    color: white;
    text-shadow: 0 1px 1px black, 0 0 40px black;
  }

  a {
    color: white;
  }

  &.event-anime {
    .event-detail h3 {
      color: #a2d7f8;
    }
  }

  &.event-social {
    time {
      .time__special {
        border-color: #a2f8ad;
      }
    }

    .event-detail h3 {
      color: #a2f8ad;
    }
  }

  &.event-cinema {
    .event-detail h3 {
      color: #f8b3a2;
    }
  }

  &.event-skip {
    time span {
      color: #b00;
    }
  }

  .time__special {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #a2f8ad;
    border-radius: 5px;
  }
}

#events-list {
  margin-top: 0;
  padding: 2px 27px 5px 18px;

  article:nth-child(n+11) {
    display: none;
  }
}

article.event {
  margin: 1em 0 1.5em 0;
  clear: left;
}

.event-detail {
  clear: right;

  // clear fix
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  img {
    float: right;
    margin-left: 10px;
    margin-right: -10px;
    max-height: 100px;
    box-shadow: 0 1px 3px black;
  }

  + .event-detail {
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 10px;
    padding-top: 10px;
    margin-left: -30px;
    margin-right: -10px;
    padding-right: 10px;
  }
}

#news-more-switch {
  text-align: center;

  h2 + & {
    margin-top: -60px;
  }

  .btn-news-more {
    margin: 0 auto 15px;
    @include btn(white, 'images/pin.svg');
    span {
      background: rgba(0,0,0,0.4);
      border-radius: 20px;
    }
  }

  &.hide {
    display: none;
  }
}

#news-more {
  display: none;

  &.show {
    display: block;
  }
}

#twitter-box {
  background-color: rgba(255,255,255,0.5);
  background-image: url(images/twitterbg.png);
  background-size: 100% auto;
  border-radius: 3px;
  backdrop-filter: blur(30px);
  box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.timeline-Header {
  display: none;
}

.float-right {
  position: absolute;
  top: 14%;
  right: 1em;
  display: block;
}

#blanket {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: block;
    opacity: 0;
  }
}

#map-overlay {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  position: fixed;
  z-index: 100;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 20vh;

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: block;
    opacity: 0;
  }
}

#map-inner {
  position: relative;
  margin: 0 auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 3px 5px black;
  max-width: 1000px;
  height: 100%;
  padding: 10px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

#map-close {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  background: #ed3b41;
  box-shadow: 0 1px 2px black;

  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  cursor: pointer;
}

header.top10pick {
  height: 170px;
}

.top10pick {
  + .top10pick {
    margin-top: 1.3em;
  }

  h2 {
    margin-top: 0.8em;
  }

  a.pick-list {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.7);
    }
    span {
      display: inline-block;
    }
  }

  .vpick {
    padding: 0;
    margin: 0 -30px 0 -10px;
  }
}

#top10results {
  margin-top: 1em;
}

.top10 {
  // margin-top: 2em;

  > h3 {
    img {
      margin-top: -16px;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 12px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.7);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .anime {
    clear: both;
    margin-top: 1em;
    height: 156px;
    padding: 12px;

    img.top10-pic {
      float: right;
      margin: -12px -12px 0 12px;
      width: 126px;
      height: 180px;
    }

    .top10-index {
      img {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: -8px;
        border-radius: 40px;
        vertical-align: bottom;
      }
      span {
        display: inline-block;
        color: $series-ident;
        font-weight: bold;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        line-height: 36px;
        text-align: center;
        background: rgba(0,0,0,0.4);
        box-shadow: 0 1px 2px rgba(0,0,0,0.6);
      }
    }

    h4 {
      margin: 2px 0;
      font-size: 19px;
    }

    &.anime-index-1 {
      .top10-index {
        span {
          background: $series-ident;
          color: black;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 2px solid $series-ident;
        border-radius: 5px;
      }
    }

    &.anime-index-2, &.anime-index-3 {
      .top10-index {
        span {
          border: 2px solid $series-ident;
          margin-top: -2px;
          margin-bottom: -2px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 1px solid $series-ident;
        border-radius: 5px;
      }
    }
  }
}

.top10-genre-intro {
  margin-top: 1rem;
  h3 {
    margin: 0.7rem 0;
  }
}

.top10-genres {
  line-height: 30px;

  a {
    cursor: pointer;
  }

  &.top10-genres-big {
    line-height: 42px;
    a {
      font-size: 18px;
      padding: 6px 16px;
      border-radius: 20px;

      &.genre.genre-selected:before {
        border-radius: 20px;
      }
    }
  }
}

body.genre-filter, body.list-filter {
  #top10random {
    display: none;
  }
}

body.genre-filter {
  .pick-pane {
    display: block;
  }
}

@mixin genre($genre, $colour) {
  .genre.genre-#{$genre} {
    background: #{$colour};
  }

  body.genre-filter.genre-filter-#{$genre} {
    .anime.anime-genre-#{$genre} {
      display: block;
    }
  }
}

#clear-genre {
  display: none;

  margin: 6px 0;
  background: white;
  background: linear-gradient(#ffffff, #e0e0e0);
  padding: 3px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 3px black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}


body.genre-filter {
  .anime {
    display: none;
  }

  #clear-genre {
    display: inline-block;
  }
}

.genre {
  color: white;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  margin-right: 6px;
  padding: 1px 6px;
  border-radius: 3px;
  line-height: 20px;
  font-size: 13px;
  text-decoration: none;

  background: rgba(0,0,0,0.6);
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.6);

  &.genre-selected {
    position: relative;
    outline: 2px solid black;

    &:before {
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: 2px solid white;
      border-radius: 8px;
    }
  }
}

@include genre(number1,   rgb(170,140,0));
@include genre(thriller,  rgb(128,0,0));
@include genre(romance,   rgb(160,16,0));
@include genre(sports,    rgb(180,110,0));
@include genre(action,    rgb(128,128,0));
@include genre(crime,     rgb(96,16,0));
@include genre(drama,     rgb(32,116,0));
@include genre(comedy,    rgb(0,128,0));
@include genre(adventure, rgb(0,96,0));
@include genre(sci-fi,    rgb(0,96,96));
@include genre(music,     rgb(96,0,160));
@include genre(shounen,   rgb(0,140,180));
@include genre(mecha,     rgb(0,128,96));
@include genre(isekai,    rgb(0,64,128));
@include genre(slice-of-life, rgb(0,0,128));
@include genre(mystery,   rgb(110,0,96));
@include genre(war,       rgb(160,0,32));
@include genre(dark,      rgb(32,32,32));
@include genre(first,     rgb(0,128,0));

// Responsive scaling

@media (min-width: 1470px) {
  a#home-link {
    font-size: 18px;
    float: left;
    margin-top: 2em;
    margin-left: -100px;
  }
}

@media (min-width: 1281px) {
  #now-showing figure {
    &, img.series-picture {
      width: 315px;
      height: 450px;
    }
  }

  header#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    section {
      flex: 1 0 auto;
    }
  }
}

@media (max-width: 1280px) {
  #now-showing figure {
    &, img.series-picture {
      width: 22vw;
      margin-bottom: -5px;
    }
    min-height: auto;
  }
  .btn-where-when {
    right: 5px;
  }
  .top10 {
    .anime img.top10-pic {
      margin-left: 5px;
    }
  }
  .anime h4 {
    font-size: 17px;
  }
  .top10-genres {
    line-height: 28px;
  }
  #next-showing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 801px) {
  body {
    &[bg='day-1'] { background-image: url(images/day-1.jpg); }
    &[bg='day-2'] { background-image: url(images/day-2.jpg); }
    &[bg='day-3'] { background-image: url(images/day-3.jpg); }
    &[bg='day-4'] { background-image: url(images/day-4.jpg); }
    &[bg='day-5'] { background-image: url(images/day-5.jpg); }
    &[bg='day-6'] { background-image: url(images/day-6.jpg); }

    &[bg='night-1'] { background-image: url(images/night-1.jpg); }
    &[bg='night-2'] { background-image: url(images/night-2.jpg); }
    &[bg='night-3'] { background-image: url(images/night-3.jpg); }
    &[bg='night-4'] { background-image: url(images/night-4.jpg); }
    &[bg='night-5'] { background-image: url(images/night-5.jpg); }
    &[bg='night-6'] { background-image: url(images/night-6.jpg); }
    &[bg='night-7'] { background-image: url(images/night-7.jpg); }
    &[bg='night-8'] { background-image: url(images/night-8.jpg); }
    &[bg='night-9'] { background-image: url(images/night-9.jpg); }
  }
}

@media (max-width: 800px) {
  body {
    &[bg='day-1'] { background-image: url(images/sm-day-1.jpg); }
    &[bg='day-2'] { background-image: url(images/sm-day-2.jpg); }
    &[bg='day-3'] { background-image: url(images/sm-day-3.jpg); }
    &[bg='day-4'] { background-image: url(images/sm-day-4.jpg); }
    &[bg='day-5'] { background-image: url(images/sm-day-5.jpg); }
    &[bg='day-6'] { background-image: url(images/sm-day-6.jpg); }

    &[bg='night-1'] { background-image: url(images/sm-night-1.jpg); }
    &[bg='night-2'] { background-image: url(images/sm-night-2.jpg); }
    &[bg='night-3'] { background-image: url(images/sm-night-3.jpg); }
    &[bg='night-4'] { background-image: url(images/sm-night-4.jpg); }
    &[bg='night-5'] { background-image: url(images/sm-night-5.jpg); }
    &[bg='night-6'] { background-image: url(images/sm-night-6.jpg); }
    &[bg='night-7'] { background-image: url(images/sm-night-7.jpg); }
    &[bg='night-8'] { background-image: url(images/sm-night-8.jpg); }
    &[bg='night-9'] { background-image: url(images/sm-night-9.jpg); }
  }

  #logo {
    display: none;
  }
  #main-title {
    display: block;
  }
  main {
    padding-left: 10px;
    padding-right: 80px;
  }
  #now-showing {
    display: block;
    figure {
      display: block;
      width: auto;
      margin-bottom: 1em !important;

      img.series-picture {
        width: 100%;
      }
    }
  }
  section#section-discord {
    .btn.btn-discord {
      position: revert;
    }
  }
  #map-overlay {
    left: 10px;
    right: 10px;
    bottom: 30px;
  }
  .box.box--button {
    padding-right: 10px;

    .btn {
      position: revert;
    }
  }
}

@media (max-width: 600px) {

  figure#recommendation {
    display: grid;
    grid-template-areas: "top" "bottom";
    height: auto;

    figcaption {
      grid-area: bottom;
    }
    img {
      grid-area: top;
      position: revert;
    }
  }
}

.slideshow {
  $w: 492px;
  $h: 277px;

  margin-top: 2em;

  position: relative;
  overflow: hidden;
  width: $w;
  height: $h;
  flex: 0 0 $h !important;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

  .slideshow-slider {
    position: absolute;
    top: 0;
    left: 0;

    transition: left 0.6s ease-in-out, top 0.6s ease-in-out;

    .row {
      display: flex;
      flex-direction: row;
    }

    img {
      width: $w;
      height: $h;
    }
  }

  &.pos1 .slideshow-slider {
    left: 0;
    top: 0;
  }
  &.pos2 .slideshow-slider {
    left: -$w;
    top: 0;
  }
  &.pos3 .slideshow-slider {
    left: -$w;
    top: -$h;
  }
  &.pos4 .slideshow-slider {
    left: 0;
    top: -$h;
  }
}
