@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url(fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url(fonts/OpenSans-Bold.ttf);
}

* {
  font-family: 'Open Sans';
}

html {
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 2s ease-in-out;

  &.day {
    background-color: #468fe2;
  }
  &.night {
    background-color: #080c80;
  }

	&.day-1 { background-image: url(images/day-1.jpg); }
	&.day-2 { background-image: url(images/day-2.jpg); }
	&.day-3 { background-image: url(images/day-3.jpg); }
	&.day-4 { background-image: url(images/day-4.jpg); }

	&.night-1 { background-image: url(images/night-1.jpg); }
	&.night-2 { background-image: url(images/night-2.jpg); }
	&.night-3 { background-image: url(images/night-3.jpg); }
	&.night-4 { background-image: url(images/night-4.jpg); }
	&.night-5 { background-image: url(images/night-5.jpg); }
	&.night-6 { background-image: url(images/night-6.jpg); }
	&.night-7 { background-image: url(images/night-7.jpg); }
}

/* Site furniture */
.btn {
  display: block;
  margin-bottom: 10px;
  height: 60px;
  cursor: pointer;
  background: none;
  border: 0 none;

  i {
    display: inline-block;
    // position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 1px 2px black;
    -webkit-appearance: none;
    appearance: none;
    border: 0 none;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  span {
    display: inline-block;
    color: white;
    font-weight: bold;
    border-left-width: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 7px 36px;
    vertical-align: middle;
    margin-left: -6px;
    box-shadow: 1px 1px 1.4px rgba(0,0,0,0.7);
  }
}
@mixin btn($color, $icon) {
  i {
    background-color: $color;
    background-image: url($icon);
  }

  span {
    background: $color;
  }
}

#logo {
  position: fixed;
  top: 5px;
  left: 5px;
}

#section-social {
  position: fixed;
  top: 20px;
  right: 20px;

  .btn {
    i {


      @media (max-width: 1280px) {
        width: 40px;
        height: 40px;
      }
    }
    span {
      display: none;
    }
  }
}

$mail_color: #ed3b41;
$twitter_color: #1da1f2;
$fb_color: #4267b2;
$discord_color: #7289da;

.btn-mail {
  @include btn($mail_color, 'images/mail.svg');
}
.btn-twitter {
  @include btn($twitter_color, 'images/tw_icon.png');
}
.btn-fb {
  @include btn($fb_color, 'images/fb_icon.png');
}
.btn-discord {
  @include btn($discord_color, 'images/discord_icon.svg');
}

#main-title {
  display: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-right: 90px;
  max-width: 1024px;
}

h1, h2, h3 {
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 2px black;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 1.5em;
}

h3 {
  font-size: 19px;
  // font-weight: 600;
  em {
    font-size: 24px;
    font-style: normal;
    margin-right: 4px;
  }
}

.box {
  padding: 5px 27px;
  background: rgba(40, 60, 120, 0.6);
  border-radius: 2px;
  margin-top: 2em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);

  body.night & {
    background: rgba(20, 30, 60, 0.4);
  }
}

#section-announce {
  background: white;
  background: linear-gradient(120deg, rgba(255,255,255,0.8), rgba(245,245,245,0.5));


  h2 {
    color: black;
    margin-top: 0.6em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5)
  }

  .content p {
    font-weight: 600;
    font-size: 20px;
  }
}

#section-next-meeting {
  position: relative;


  h2 {
    margin-top: 0.6em;
    margin-bottom: 3px;
  }
}

.btn-where-when {
  position: absolute;
  top: 30%;
  right: 20px;

  @include btn(white, 'images/pin.svg');
  span {
    display: none;
  }
}

#section-now-showing {
  margin: 2em 0;
  position: relative;

  &.section-now-showing-hiatus {
    #now-showing {
      opacity: 0.2;
    }
  }

  .hiatus-overlay {
    position: absolute;
    top: 40%;
    left: 100px;
    right: 100px;
    min-height: 30px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 150px black, 0 0 80px black;

    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}

#now-showing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  figure {
    box-shadow: 0 2px 3px black;
    position: relative;
    margin: 0 auto;

    img {
      z-index: 1;
    }

    &#slot1 {
      margin: 0 auto 0 0;
    }

    &#slot2 {
      margin: 0 auto 0 auto;
    }

    &#slot3 {
      margin: 0 0 0 auto;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 6px 9px;
      background: rgba(0,0,0,0.5);

      color: white;
      text-shadow: none;
      font-size: 18px;
      font-weight: bold;

      z-index: 3;
    }

    a.play {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 450px;
      cursor: pointer;

      transition: opacity 0.6s ease-out;
      opacity: 0;
      z-index: 2;

      background: rgba(0,0,0,0.5);
      color: white;
      font-weight: bold;
      text-shadow: 0 1px 1px black;
    }

    &:hover {
      a.play {
        transition: opacity 0.2s ease-out;
        opacity: 1;
      }
    }
  }
}

#coming-soon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "one one one two two two"
    "three three four four five five"
    "six six seven seven eight eight";
  grid-gap: 39px;

  figure {
    &:nth-child(1) {
      grid-area: one;
    }
    &:nth-child(2) {
      grid-area: two;
    }
    &:nth-child(3) {
      grid-area: three;
    }
    &:nth-child(4) {
      grid-area: four;
    }
    &:nth-child(5) {
      grid-area: five;
    }
    &:nth-child(6) {
      grid-area: six;
    }
    &:nth-child(7) {
      grid-area: seven;
    }
    &:nth-child(8) {
      grid-area: eight;
    }

    position: relative;
    background: rgba(40, 60, 120, 0.4);
    background: linear-gradient(90deg, rgba(40,60,120,0.4), rgba(40,60,120,0.7));
    border-radius: 2px;
    margin: 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    height: 180px;
    padding-right: 126px;

    body.night & {
      background: rgba(20, 30, 60, 0.4);
      background: linear-gradient(90deg, rgba(20,30,60,0.4), rgba(20,30,60,0.7));
    }

    figcaption {
      padding: 1px 5px 1px 13px;
      text-align: left;

      color: white;
      font-weight: bold;
      font-size: 17px;
      text-shadow: 0 1px 1px black;

      h3 {
        margin-top: 8px;
      }

      time {
        background: linear-gradient(#faeed8, #f8dda2);
        position: absolute;
        left: 13px;
        bottom: 13px;
      }

      p.starting {
        position: absolute;
        left: 13px;
        bottom: 59px;

        font-size: 14px;
        text-transform: uppercase;
      }
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 126px;
      height: 180px;

      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.movie {
      background: rgba(20, 40, 100, 0.6);
      background: linear-gradient(90deg, rgba(20,40,100,0.6), rgba(20,40,100,1));

      body.night & {
        background: rgba(5, 10, 40, 0.6);
        background: linear-gradient(90deg, rgba(5,10,40,0.6), rgba(5,10,40,1));
      }

      time {
        background: linear-gradient(#d0f5d9, #9af3aa);
      }

      .movie-info {
        position: absolute;
        left: 80px;
        bottom: 24px;

        p {
          margin: 0.1em 0;
          font-size: 22px;
        }
      }
    }

    &:nth-child(1), &:nth-child(2) {
      height: 360px;
      padding-right: 252px;

      figcaption {
        h3 {
          font-size: 22px;
        }
      }

      img {
        width: 252px;
        height: 360px;
      }
    }
  }
}

.lr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

time {
  background: white;
  width: 54px;
  height: 54px;
  box-shadow: 0 1px 2px black;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
  text-shadow: 0 1px 0 white, 0 -0.5px 0 rgba(0,0,0,0.1);

  .day {
    line-height: 26px;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
  }
  .month {
    line-height: 15px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
}

a.trailer {
  // background-color: linear-gradient(#e04040, #d02020);
  background-image: url(images/play-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 54px;
  height: 54px;
  box-shadow: 0 1px 2px black;
  border-radius: 2px;
}

article {
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px;
  min-height: 55px;

  time {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.box {
    padding-left: 85px;
    padding-top: 15px;
    time {
      top: 16px;
      left: 16px;
    }
  }

  h3, &.event p {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    margin: 0 0 1px 0;
  }

  h3 {
    font-size: 19px;
  }

  p {
    margin: 0.5em 0;
    font-size: 16px;
    color: white;
    text-shadow: 0 1px 1px black, 0 0 40px black;
  }

  a {
    color: white;
  }

  &.event-anime {
    time {
      background: linear-gradient(#d8edfa, #a2d7f8);
    }
  }

  &.event-movie {
    time {
      background: linear-gradient(#d0f5d9, #9af3aa);
    }
  }

  &.event-new-series {
    time {
      background: linear-gradient(#faeed8, #f8dda2);
    }
  }

  &.event-online {
    time {
      background: linear-gradient(#c9d2f8, #97abf3);
    }
  }

  &.event-esports {
    time {
      background: linear-gradient(#faeed8, #f8dda2);
    }
  }

  &.event-social {
    time {
      background: linear-gradient(#d8fadc, #a2f8ad);
    }
  }

  &.event-cinema {
    time {
      background: linear-gradient(#faddd8, #f8b3a2);
    }
  }

  &.event-convention {
    time {
      background: linear-gradient(#fad8f7, #f8a2ed);
    }
  }

  &.news {
    time {
      background: linear-gradient(#d8fadc, #a2f8ad);
    }
  }

  .event-detail.event-detail-new-series, .event-detail.event-detail-movie {
    padding: 1px 6px;
    background: rgba(40, 60, 120, 0.5);
    border-radius: 2px;
    margin-bottom: 2px;
    margin-left: -5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }
}

#news-more-switch {
  text-align: center;

  .btn-news-more {
    margin: 0 auto 15px;
    @include btn(white, 'images/pin.svg');
    span {
      background: rgba(0,0,0,0.4);
      border-radius: 20px;
    }
  }

  &.hide {
    display: none;
  }
}

#news-more {
  display: none;

  &.show {
    display: block;
  }
}

#twitter-box {
  background-color: rgba(255,255,255,0.5);
  background-image: url(images/twitterbg.png);
  background-size: 100% auto;
  border-radius: 3px;
  backdrop-filter: blur(30px);
  box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.timeline-Header {
  display: none;
}

#blanket {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: block;
    opacity: 0;
  }
}

#map-overlay {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  position: fixed;
  z-index: 100;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 20vh;

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: block;
    opacity: 0;
  }
}

#map-inner {
  position: relative;
  margin: 0 auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 3px 5px black;
  max-width: 1000px;
  height: 100%;
  padding: 10px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

#map-close {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  background: #ed3b41;
  box-shadow: 0 1px 2px black;

  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  cursor: pointer;
}


// Responsive scaling

@media (min-width: 1281px) {
  #now-showing figure {
    &, img {
      width: 315px;
      height: 450px;
    }
  }

  header#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}

@media (max-width: 1280px) {
  #now-showing figure {
    &, img {
      width: 22vw;
      margin-bottom: -5px;
    }
  }
  .btn-where-when {
    position: static;
  }
  .lr {
    display: block;
  }
  #next-showing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 800px) {
  #logo {
    display: none;
  }
  #main-title {
    display: block;
  }
  main {
    padding-left: 10px;
  }
  #now-showing figure {
    &, img { width: 28.4vw; }
  }
  #map-overlay {
    left: 10px;
    right: 10px;
    bottom: 30px;
  }
}
